.box-button{
    width: auto;
    height: auto;
    padding: 5px;
}
.button{
    // border: 1px solid black;
    border:none;
    background-color: #63459b;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px #7955bd;

    &:hover{
        background-color: #63459b;
        box-shadow: 0px 4px #7955bd;
        color: white;
    }
}